Source: python-progress
Section: python
Priority: extra
Maintainer: Kostas Papadimitriou <kpap@grnet.gr>
Build-Depends: debhelper (>= 8.0.0), python, python-setuptools
Standards-Version: 3.9.3
Homepage: https://github.com/verigak/progress
Vcs-Browser: https://github.com/verigak/progress
Vcs-Git: https://github.com/verigak/progress.git
X-Python-Version: >= 2.6

Package: python-progress
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 ${python:Depends},
Provides: ${python:Provides}
Description: Easy to use progress bars for Python.
 This project contains a number of progress bars and spinners to use for a cli
 programe in python.
